
<div class="container-fluid bg-light py-3">
  <div class="row g-3">
    <div class="col-6 col-sm-4 col-lg-2"><a class="d-block text-danger text-decoration-none py-2 py-sm-3 shadow-sm hover-move rounded-4 text-center bg-white" href="./pages/taipei.html" title="目前只有台北市……"><img class="mb-1 mb-sm-2 mt-3 hover-slide" src="./images/busIcon_taipei.svg" alt="Taipei/ New Taipei City"/>
        <h5 class="fw-bold fs-16 my-1">台北市/新北市</h5>
        <p>Taipei/New Taipei</p></a></div>
    <div class="col-6 col-sm-4 col-lg-2"><a class="d-block text-ty text-decoration-none py-2 py-sm-3 shadow-sm hover-move rounded-4 text-center bg-white" href="./pages/taoyuan.html" title="查詢桃園公車"><img class="mb-1 mb-sm-2 mt-3 hover-slide" src="./images/busIcon_taoyuan.svg" alt="Taoyuan"/>
        <h5 class="fw-bold fs-16 my-1">桃園市</h5>
        <p>Taoyuan</p></a></div>
    <div class="col-6 col-sm-4 col-lg-2"><a class="d-block text-info text-decoration-none py-2 py-sm-3 shadow-sm hover-move rounded-4 text-center bg-white" href="./pages/taichung.html" title="查詢台中公車"><img class="mb-1 mb-sm-2 mt-3 hover-slide" src="./images/busIcon_taichung.svg" alt="Taichung City"/>
        <h5 class="fw-bold fs-16 my-1">台中市</h5>
        <p>Taichung</p></a></div>
    <div class="col-6 col-sm-4 col-lg-2"><a class="d-block text-tn text-decoration-none py-2 py-sm-3 shadow-sm hover-move rounded-4 text-center bg-white" href="./pages/tainan.html" title="查詢台南公車"><img class="mb-1 mb-sm-2 mt-3 hover-slide" src="./images/busIcon_tainan.svg" alt="Tainan City"/>
        <h5 class="fw-bold fs-16 my-1">台南市</h5>
        <p>Taina</p></a></div>
    <div class="col-6 col-sm-4 col-lg-2"><a class="d-block text-ks text-decoration-none py-2 py-sm-3 shadow-sm hover-move rounded-4 text-center bg-white" href="./pages/kaohsiung.html" title="查詢高雄公車"><img class="mb-1 mb-sm-2 mt-3 hover-slide" src="./images/busIcon_kaohsiung.svg" alt="Kaohsiung City"/>
        <h5 class="fw-bold fs-16 my-1">高雄市</h5>
        <p>Kaohsiung</p></a></div>
    <div class="col-6 col-sm-4 col-lg-2"><a class="d-block text-other text-decoration-none py-2 py-sm-3 shadow-sm hover-move rounded-4 text-center bg-white disabled" href="#" title="施工中……"><img class="mb-1 mb-sm-2 mt-3 hover-slide" src="./images/busIcon_other.svg" alt="others"/>
        <h5 class="fw-bold fs-16 my-1">其他地區</h5>
        <p>Other City</p></a></div>
  </div>
</div>