
<div class="banner bg-cover">
  <div class="text-vertical-lr text-white d-none d-sm-block">
    <p class="fw-light fs-14 text-uppercase m-0">Taiwan Bus+</p>
    <p class="banner-text fs-26 m-1">台灣公車動態</p>
    <p class="banner-text fs-26 fw-bold m-0">　時刻查詢系統</p>
  </div>
  <div class="text-vertical-lr text-white d-block d-sm-none">
    <p class="fw-light fs-10 text-uppercase m-0">Taiwan Bus+</p>
    <p class="banner-text fs-h4 m-1">台灣公車動態</p>
    <p class="banner-text fs-h4 fw-bold m-0">　時刻查詢系統</p>
  </div>
</div>