
<nav class="d-flex px-lg-6 px-md-5 px-3 mx-0 bg-light" aria-label="breadcrumb">
  <ol class="breadcrumb my-2 fs-h6">
    <li class="breadcrumb-item d-none d-sm-block"><a class="text-decoration-none" href="../index.html">首頁</a></li>
    <li class="breadcrumb-item active d-none d-sm-block" id="others" aria-current="page">其他</li>
    <div class="active d-block d-sm-none" aria-current="page"><img class="me-1" src="../images/icon_location.svg"/>其他</div>
  </ol>
  <div class="ms-auto my-auto d-flex"><a class="text-decoration-none me-2 py-2 visually-hidden" href="#" title="取得網址"> <img class="me-1" src="../images/icon_link.svg" alt="information"/>複製連結</a><a class="text-decoration-none ms-1 me-2 py-2" href="#" title="施工中……"><img class="me-1" src="../images/icon_info.svg" alt="information"/>時刻表</a><a class="text-decoration-none ms-1 me-2 py-2 visually-hidden" href="#"><img class="me-1" src="../images/icon_map.svg" alt="information"/>地圖</a><a class="text-decoration-none ms-1 me-2 py-2 visually-hidden" href="#"><img class="me-1" src="../images/icon_pin.svg"/>路線</a></div>
</nav>