
<button class="d-md-none d-block border-0 bg-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNav" aria-controls="offcanvasRight"><span class="fas fa-bars fs-15 p-2"></span></button>
<div class="offcanvas offcanvas-end border-0 w-70 bd-filter d-md-none" id="offcanvasNav" tabindex="-1" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header border-bottom pb-4 pt-4"><a class="navbar-brand d-sm-flex d-none" href="../index.html" title="台灣公車ｅ點通"><img src="../images/logo_header.png" alt="a man waiting the bus" width="37.56" height="40.62"/>
      <div class="ms-2 ms-md-4 my-auto">
        <h1 class="fs-15 fw-bold mb-0">台灣公車ｅ點通</h1>
        <h2 class="fs-h6 fw-light mb-0">Taiwan Bus+</h2>
      </div></a><a class="navbar-brand d-flex align-items-center d-sm-none d-flex" href="../index.html" title="台灣公車ｅ點通"><img src="../images/logo_header.png" alt="a man waiting the bus" width="36" height="35.87"/>
      <div class="ms-2 ms-md-4 my-auto">
        <h1 class="fs-13 fw-bold mb-0">台灣公車ｅ點通</h1>
        <h2 class="fs-10 fw-light mb-0">Taiwan Bus+</h2>
      </div></a>
    <button class="btn-close text-reset my-auto" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body p-0">
    <div class="navbar-nav fs-h6 w-45 justify-content-between w-100"><a class="nav-link text-black fw-normal border-bottom p-2 hover-slide" href="#" title="施工中……"> 
        <p class="py-1 m-0">附近站牌</p></a><a class="nav-link text-black fw-normal border-bottom p-2 hover-slide" href="#" title="施工中……"> 
        <p class="py-1 m-0">路線規劃</p></a><a class="nav-link text-black fw-normal border-bottom p-2 hover-slide" href="#" title="施工中……"> 
        <p class="py-1 m-0">站點查詢</p></a><a class="nav-link text-black fw-normal border-bottom p-2 hover-slide" href="#" title="施工中……"> 
        <p class="py-1 m-0">收藏站牌</p></a></div>
    <div class="navbar-nav fs-h6 d-flex flex-row justify-content-around align-items-center py-3 px-6"><i class="bi bi-globe me-1"></i><a class="nav-link text-black fw-bold" href="#">中文</a>
      <div class="my-auto text-black">|</div><a class="nav-link text-black fw-normal disabled" href="#" title="Building……">English</a>
    </div>
  </div>
</div>