
<head> 
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="author" content="Designer: 鹽酥G; front-end: Karl Yang, ccok12345678@hotmail.com"/>
  <meta name="description" content="The F2E 3rd前端修練精神時光屋作品，Week 3 - 全台公車動態時刻查詢應用服務。資料來源:TDX, https://tdx.transportdata.tw/"/>
  <meta name="keywords" content="Taiwan, bus, communicate, map, 臺灣, 台灣, 公車, 交通, 通勤, 公車時刻, 公車路線"/>
  <meta property="og:description" content="The F2E 3rd前端修練精神時光屋作品，Week 3 - 全台公車動態時刻查詢應用服務。"/>
  <meta property="og:title" content="台灣公車e點通 Taiwan Bus+"/>
  <meta name="twitter:title" content="台灣公車e點通 Taiwan Bus+"/>
  <title>台灣公車e點通 Taiwan Bus+</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
  <link rel="stylesheet" href="../stylesheets/all.css"/>
  <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon"/>
  <meta property="og:image" content="../images/logo_og.png"/>
</head>