mixin navBar_brand
  if (path === 'index.html')
    a.navbar-brand.d-sm-flex.d-none.py-1(href='index.html' title="台灣公車ｅ點通")
      img(src="images/logo_header.png", alt="a man waiting the bus" width="37.56" height="40.62")
      div.ms-2.ms-md-4.my-auto
        h1.fs-15.fw-bold.mb-0 台灣公車ｅ點通
        h2.fs-h6.fw-light.mb-0 Taiwan Bus+
    a.navbar-brand.d-flex.align-items-center.d-sm-none.d-flex(href='index.html' title="台灣公車ｅ點通")
      img(src="images/logo_header.png", alt="a man waiting the bus" width="36" height="35.87")
      div.ms-2.ms-md-4.my-auto
        h1.fs-13.fw-bold.mb-0 台灣公車ｅ點通
        h2.fs-10.fw-light.mb-0 Taiwan Bus+
  else
    a.navbar-brand.d-sm-flex.d-none(href='../index.html' title="台灣公車ｅ點通")
      img(src="../images/logo_header.png", alt="a man waiting the bus" width="37.56" height="40.62")
      div.ms-2.ms-md-4.my-auto
        h1.fs-15.fw-bold.mb-0 台灣公車ｅ點通
        h2.fs-h6.fw-light.mb-0 Taiwan Bus+
    a.navbar-brand.d-flex.align-items-center.d-sm-none.d-flex(href='../index.html' title="台灣公車ｅ點通")
      img(src="../images/logo_header.png", alt="a man waiting the bus" width="36" height="35.87")
      div.ms-2.ms-md-4.my-auto
        h1.fs-13.fw-bold.mb-0 台灣公車ｅ點通
        h2.fs-10.fw-light.mb-0 Taiwan Bus+