extend layout.pug

block head 
  - const path = "taichung.html"
  include partials/layout_head.pug

block navbar
  include partials/layout_navbar.pug

block content 
  include partials/layout_breadcrumb.pug
  include partials/layout_busMap.pug
