.aside {
  position: relative;

  &-header {
  
    &:focus-within .busRouteInput,
    &:focus-within .busRouteBtn {
      box-shadow: none;
      background-color: #d5d5d5;
      border: none;
    }
    
    &:focus-within .busRouteBtn {
      background-image: url("../images/icon_delete.svg");
    }
  }

}

.showRoute .routeDetailContainer {
transform: translateX(0);
}

.routeDetailContainer {
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  z-index: 2;
  transform: translateX(-100%);
  transition: .2s;
}

.busRouteInput {
  background: #eee;
  border-radius: 10px 0 0 10px;
  transition: .1s;

}

.busRouteBtn {
  background-image: url("../images/icon_search.svg");
  background-repeat: no-repeat;
  background-size: 15.21px 14.36px;
  background-position: center center;
  transition: .1s;
  border-radius: 0 10px 10px 0;
  border: none;

  &:hover {
    background-color: #eee;
  }
}

.item {
  
  &-badge {
    width: 19.54%;
  }

  &-dot {
    
    &-gray {
      width: 12px;
      height: 12px;
      background:#c4c4c4;
      border-radius: 50%;
      margin: auto -6px auto auto;
      border: 2px solid #F8F8F8;
    }

    &-info {
      width: 15px;
      height: 15px;
      background: $info;
      border-radius: 50%;
      margin: auto -7.5px auto auto;
      border: 2px #fff solid;
    }
  }

  &-border-right {
    border-radius: none;
    border-top: none;
    border-left: none;
    border-right: #c4c4c4 solid 1px;
  }
}

.leaflet-popup {

  &-tip {
    display: none;
  }

  &-content {
    margin: 0;
    
    &-wrapper {
      text-align: center;
      background: none;
      box-shadow: none;
      // border: none;
      padding: 0;
      // outline: none;
    
    }
  }
}

.stop-popup {
  min-width: 77px;
  border: 2px #fff solid;
}