.navbar-brand {
  margin: 4px 0px;
}

.offcanvas-backdrop {
  backdrop-filter: blur(4px);

  @media (min-width: 768px) {
    display: none;
  }
}

.hover-slide {
  position: relative;

  &::before {
    transform: scaleX(0);
    transform-origin: bottom right;
  }

  &:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  &::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    inset: 0 0 0 0;
    background: #d0818142;
    z-index: 1;
    transition: transform .3s ease;
  }
}

.hover {
  
  &-shadow:hover {
    background: #000;
    box-shadow: 0px 10px 15px 2px rgb(0, 0, 0);
  }

  &-move:hover {
    transform: translateY(-5px);
  }

  &-bg-ee:hover {
    background: #eee;
    transition: all .2s linear;
  }

  
  &-heart-fill {
    width: 18px;
    height: 16px;
    z-index: 1;
    
    &:hover {
      background-image: url(../images/icon_heart_fill.svg);
      background-position: 1px 0px;
      background-size: 16px 17px;
      background-repeat: no-repeat;
    }
  }
}


.text-vertical {
  
  &-rl {
    writing-mode: vertical-rl;
  }

  &-lr {
    writing-mode: vertical-lr;
  }
}

.bg-cover {
  background-size: cover;
  background-position: center center;
}

.rounded-10 {
  border-radius: 10px;
}

.h-auto {
  height: auto;
}

.hidden {

  &-md {
    @media (max-width: 767.98px) {
      @include visually-hidden
    }
  }
}