button.d-md-none.d-block.border-0.bg-white(type="button"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasNav" aria-controls="offcanvasRight")
  span.fas.fa-bars.fs-15.p-2
#offcanvasNav.offcanvas.offcanvas-end.border-0.w-70.bd-filter.d-md-none(tabindex="-1" aria-labelledby="offcanvasRightLabel")
  .offcanvas-header.border-bottom.pb-4.pt-4
    a.navbar-brand.d-flex.align-items-center.mt-3(href="index.html" title="台灣公車ｅ點通")
      img.me-1(src="images/logo_header.png", alt="a man waiting the bus" width="36" height="35.87")
      div.ms-2.my-auto
        .fs-13.fw-bold.mb-0 台灣公車ｅ點通
        .fs-10.fw-light.mb-0 Taiwan Bus+
    button.btn-close.text-reset.my-auto(type="button" data-bs-dismiss="offcanvas" aria-label="Close")
  .offcanvas-body.p-0
    .navbar-nav.fs-h6.w-45.justify-content-between.w-100
      a.nav-link.text-black.fw-normal.border-bottom.p-2.hover-slide(href="#" title="施工中……") 
        p.py-1.m-0 附近站牌
      a.nav-link.text-black.fw-normal.border-bottom.p-2.hover-slide(href="#" title="施工中……") 
        p.py-1.m-0 路線規劃
      a.nav-link.text-black.fw-normal.border-bottom.p-2.hover-slide(href="#" title="施工中……") 
        p.py-1.m-0 站點查詢
      a.nav-link.text-black.fw-normal.border-bottom.p-2.hover-slide(href="#" title="施工中……") 
        p.py-1.m-0 收藏站牌
    .navbar-nav.fs-h6.d-flex.flex-row.justify-content-around.align-items-center.py-3.px-6
      i.bi.bi-globe.me-1
      a.nav-link.text-black.fw-bold(href="#" title="施工中……") 中文
      .my-auto.text-black |
      a.nav-link.text-black.fw-normal(href="#" title="Building……") English