include ../mixins/navBar_brand.pug

nav.navbar.navbar-expand-lg.navbar-light.bg-white.text-black.fw-normal.shadow
  .container
    +navBar_brand
    .navbar-nav.fs-15.w-50.justify-content-between.flex-row.d-none.d-sm-flex
      a.nav-link.text-black.fw-normal(href="#" title="施工中……") 附近站牌
      a.nav-link.text-black.fw-normal(href="#" title="施工中……") 路線規劃
      a.nav-link.text-black.fw-normal(href="#" title="施工中……") 站點查詢
      a.nav-link.text-black.fw-normal(href="#" title="施工中……") 收藏站牌
    .navbar-nav.fs-15.flex-row.d-none.d-lg-flex
      i.bi.bi-globe.fs-h2.me-1
      a.nav-link.text-black.fw-bold(href="#" title="施工中……") 中文
      .my-auto.text-black |
      a.nav-link.text-black.fw-normal(href="#" title="施工中……") English

