footer.bg-dark.text-white.d-flex.p-1
  p.fs-h6.d-none.d-sm-block.p-3.m-auto Copyright © 2021 台灣公車 e 點通 All rights reserved.
  p.fs-10.d-block.d-sm-none.p-2.m-auto Copyright © 2021 台灣公車 e 點通 All rights reserved.
