aside.vh-100
  .aside-header.input-group.p-3
    input#busRouteInput.busRouteInput.form-control.border-0.rounded-start-3(type='search' placeholder="輸入公車路線 / 起迄方向名或關鍵字" aria-label="bus routes" aria-describedby='button-addon2')
    button#busRouteBtn.busRouteBtn.btn.btn-ee.px-3(type='button') 
      //- i.bi.bi-search