#routeDetailContainer.routeDetailContainer.d-flex.flex-column.bg-white.vh-100
  #closePanel.btn.btn-white.mt-3.ms-3.me-auto.py-auto
    img.me-2(src="../images/icon_back.svg")
    | 返回搜尋
  header.panel-header.text-center
    h3#routeName.fs-35.fw-bold.mb-1 
    ul#pills-tab.nav.nav-pills.fs-15.pt-2(role='tablist')
      li.nav-item.w-50.bg-e0.rounded-0.rounded-top(role='presentation')
        button#pills-goto-tab.nav-link.w-100.text-center.rounded-0.rounded-top.active(data-bs-toggle='pill' data-bs-target='#pills-goto' type='button' role='tab' aria-controls='pills-home' aria-selected='true')  
      li.nav-item.w-50.bg-e0.rounded-0.rounded-top(role='presentation')
        button#pills-backto-tab.w-100.nav-link.text-center.rounded-0.rounded-top(data-bs-toggle='pill' data-bs-target='#pills-backto' type='button' role='tab' aria-controls='pills-profile' aria-selected='false') 
  .panel-body.mh-100.overflow-auto(heigh="516")
    #pills-tabContent.tab-content.p-4
      #pills-goto.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-goto-tab') 
        #gotoRouteStops.list-group
      #pills-backto.tab-pane.fade(role='tabpanel' aria-labelledby='pills-backto-tab')
        #backtoRouteStops.list-group
  footer.panel-footer.mt-auto
    .progress.rounded-0.bg-e7(style='height: 1px')
      .progress-bar.bg-success(role='progressbar' style='width: 45%; height: 2px;' aria-valuenow='45' aria-valuemin='0' aria-valuemax='100')
    .d-flex.justify-content-between.fs-14.px-3
      p.py-2.mb-0(title="功能建設中") (尚無自動更新)
      a#refreshBtn.py-2.text-decoration-none.disabl(href="#")
        img.me-2(src="../images/icon_update.svg")
        | 立即更新


